.btn-primary {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  transition: transform 200ms;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.38);
}
.btn-primary .button {
  transform: scale(1.02);
  opacity: 0.9;
}

header {
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
  background-color: #fff;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #EFEFEF;
  text-align: center;
  padding: 8px;
  box-shadow: inset 0 8px 8px -10px rgba(0, 0, 0, 0.5);
}
.city i {
  font-size: 24px;
}
.city h2 {
  font-size: 16px;
}

/*EXPLORER*/
.explorer {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 55px;
}
.explorer h2 {
  font-size: 26px;
}
.explorer p {
  font-size: 16px;
  margin-top: 10px;
}

.menus {
  background-color: #f3f3f3;
  padding-bottom: 40px;
}
.menus .restaurants {
  margin-bottom: 10px;
  padding-top: 35px;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  width: 90%;
  margin: auto;
}
.menus .menus__cards .card.new {
  position: relative;
}
.menus .menus__cards .card.new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.menus .menus__cards .card .card__img {
  width: 100%;
  height: 230px;
  border-radius: 16px 16px 0 0;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.menus .menus__cards .card .card__description {
  border-radius: 0 0 16px 16px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
}
.menus .menus__cards .card .card__description::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.menus .menus__cards .card .card__description::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.menus .menus__cards .card .card__description:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
.menus .menus__cards .card .card__description h3,
.menus .menus__cards .card .card__description p {
  padding: 5px;
  margin-top: -5px;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .menus .menus__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.tuto {
  counter-reset: steps;
}

@media screen and (min-width: 768px) {
  .tuto ol {
    display: flex;
    gap: 32px;
    margin-right: 70px;
  }
}
.tuto li {
  width: 95%;
  margin-bottom: inherit;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 18px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  font-weight: bold;
}

.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}

.tuto li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}

.tuto li:hover i::before {
  color: #9356dc;
}

.tuto li i.fas {
  font-weight: bold;
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 24px;
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}
footer .footer-title {
  height: 25px;
  font-family: "Shrikhand";
  font-weight: bold;
  padding: 16px 0;
  margin-bottom: 10px;
}
footer p {
  padding: 4px;
  margin-left: 5px;
}
footer .fas {
  margin-right: 8px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.logo img {
  height: 30px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

main {
  background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.fonctionnement,
.restaurants {
  margin-left: 20px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
}
header .arrow {
  position: absolute;
  top: 35%;
  left: 0%;
  padding-left: 20px;
}

.hight img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  margin-top: -32px;
}
.title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 32px 16px;
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
}
.title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 32px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.menu {
  width: 480px;
  max-width: 480px;
  margin: auto;
  position: relative;
  display: contents;
  background-color: #f6f6f6;
}
.menu h3 {
  font-weight: 400;
  position: relative;
  margin-bottom: 16px;
  color: #7e7e7e;
}
.menu h3::after {
  content: "";
  position: absolute;
  width: 48px;
  top: 24px;
  left: 0;
  height: 4px;
  background-color: #99e2d0;
}

.menu__family {
  margin-top: 5px;
  padding: 20px;
}

.menu__container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.menu__container:hover .menu__check {
  margin-right: 0;
}

.menu__container:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.menu__description {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.menu__text {
  width: 100%;
  margin-left: 16px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 17px;
}

.menu__price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  margin-right: 16px;
  max-width: 100%;
}

.menu__check {
  width: 112px;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -112px;
  transition-duration: 0.5s;
}

.menu__check > i {
  color: #99e2d0;
  padding: 8px;
  border-radius: 50%;
  background: white;
}

.menu__text > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.menu__price {
  margin-left: 8px;
}

.btn-primary {
  margin-bottom: 55px;
  margin-top: 45px;
}

/*# sourceMappingURL=main.css.map */
