button {
    color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    transition: transform 200ms;
    margin-top: 16px;
    // @include mixins.base-shadow;
    // @include mixins.gradient;
    // @include mixins.base-button;
    font-size: 16px;
  }
  button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }