button {
    color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    transition: transform 200ms;
    margin-top: 16px;
    cursor: pointer;
    box-shadow: 2px 1px 8px -3px #7e7e7e;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    font-size: 16px;
  }
  button:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }