footer {
    background-color: $darkgrey;
    padding: 16px 32px;
    color: white;
    
    
   
  .footer-title {
      height: 50px;
      font-family: "Raleway", sans-serif;
    font-weight: bold;
    padding: 16px 0;
  }
    p {
      padding: 3.2px;
      
    }
  }